<div class="form-container">
  <div class="form-layout">
    <div class="form-content">
      <h3>Sign Up</h3><hr/>
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name" class="spacing">Name:</label>
          <input type="text" id="name" class="form-control mb-3" formControlName="name" required>
        </div>
        <div class="form-group">
          <label for="email" class="spacing">Email:</label>
          <input type="email" id="email" class="form-control mb-3" formControlName="email"  required>
        </div>
        <div class="form-group">
          <label for="mobileNumber" class="spacing">Mobile Number:</label>
          <input type="text" id="mobileNumber" class="form-control mb-3" formControlName="mobileNumber" required>
        </div>
        <div class="form-group">
          <label for="password" class="spacing">Password:</label>
          <input type="password" id="password" class="form-control mb-3" formControlName="password" required>
        </div>
        <div class="form-group">
          <label for="file" class="spacing">Upload Profile Picture:</label>
          <input type="file" id="file" class="form-control mb-3" (change)="onFileSelected($event)" accept="image/*">
        </div>
        <div class="btnAlign mb-3">
          <button type="submit" class="btn btn-primary btn-sm" [disabled]="!signupForm.valid">Sign Up</button>
          <button type="button" class="btn btn-link" (click)="backToLogin()">Back to login</button>
        </div>
       
      </form>
    </div>
  </div>
</div>